In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv(r"C:\Users\User\Downloads\energydata_complete.csv")

In [3]:
df.index+=1

In [4]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
1,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
2,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
3,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
4,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
5,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19731,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19732,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19733,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19734,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19735,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [5]:
df2=df.drop(['date','lights'], axis=1)

In [6]:
ndf=MinMaxScaler().fit_transform(df2)
ndf=pd.DataFrame(ndf, columns=df2.columns)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x=ndf.T2
y=ndf.T6

In [9]:
x_train, x_test, y_train, y_test=train_test_split(x, y,test_size=0.3, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
linreg=LinearRegression()

In [12]:
x_train=np.array(x_train)
x_test=np.array(x_test)
y_train=np.array(y_train)
y_test=np.array(y_test)

In [13]:
x_train=x_train.reshape(-1,1)
x_test=x_test.reshape(-1, 1)
y_train=y_train.reshape(-1,1)
y_test=y_test.reshape(-1, 1)

In [37]:
model1=linreg.fit(x_train, y_train)

In [15]:
y_pred=linreg.predict(x_test)

In [16]:
from sklearn.metrics import r2_score

In [17]:
round(r2_score(y_test, y_pred),2)

0.64

In [18]:
from sklearn.metrics import mean_absolute_error

In [19]:
round(mean_absolute_error(y_pred, y_test), 2)

0.08

In [20]:
round(np.sum(np.square(y_test - y_pred)),2)

66.12

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
round(np.sqrt(mean_squared_error( y_test, y_pred)),3)

0.106

In [38]:
model1.coef_

array([[0.8910771]])

In [23]:
df3=df.drop(['date','lights'], axis=1)

In [24]:
ndf2=pd.DataFrame(MinMaxScaler().fit_transform(df3), columns=df3.columns)

In [25]:
target=ndf2.Appliances
features=ndf2.drop('Appliances', axis=1)

In [26]:
xtrain, xtest, ytrain, ytest=train_test_split(features, target,test_size=0.3, random_state=42)

In [27]:
linreg.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [29]:
linear_model_weights = get_weights_df(linreg, xtrain, 'Linear_Model_Weight')

In [30]:
linear_model_weights

       Features  Linear_Model_Weight
0           rv2        -6.347156e+10
1          RH_2        -4.566222e-01
2         T_out        -3.218423e-01
3            T2        -2.361131e-01
4            T9        -1.899177e-01
5          RH_8        -1.575747e-01
6        RH_out        -7.767868e-02
7          RH_7        -4.462568e-02
8          RH_9        -3.980029e-02
9            T5        -1.566246e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.826116e-03
12           T7         1.032279e-02
13   Visibility         1.230638e-02
14         RH_5         1.599761e-02
15         RH_4         2.638746e-02
16           T4         2.897013e-02
17    Windspeed         2.916591e-02
18         RH_6         3.803986e-02
19         RH_3         9.604517e-02
20           T8         1.019718e-01
21    Tdewpoint         1.177300e-01
22           T6         2.363984e-01
23           T3         2.905893e-01
24         RH_1         5.535222e-01
25          rv1         6.347156e+10

In [31]:
linear_model_weights.min()

Features               Press_mm_hg
Linear_Model_Weight   -6.34716e+10
dtype: object

In [32]:
linear_model_weights.max()

Features                       rv2
Linear_Model_Weight    6.34716e+10
dtype: object

In [33]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(xtrain, ytrain)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [34]:
ypred=ridge_reg.predict(xtest)

In [35]:
round(np.sqrt(mean_squared_error( ytest, ypred)),3)

0.088

In [40]:
ridge_model_weights = get_weights_df(ridge_reg, xtrain, 'Ridge_Model_Weight')

In [41]:
ridge_model_weights

       Features  Ridge_Model_Weight
0          RH_2           -0.411071
1         T_out           -0.262172
2            T2           -0.201397
3            T9           -0.188916
4          RH_8           -0.156830
5        RH_out           -0.054724
6          RH_7           -0.045977
7          RH_9           -0.041367
8            T5           -0.019853
9            T1           -0.018406
10          rv1            0.000748
11          rv2            0.000748
12  Press_mm_hg            0.006584
13           T7            0.010098
14   Visibility            0.012076
15         RH_5            0.016152
16         RH_4            0.024579
17           T4            0.027384
18    Windspeed            0.030268
19         RH_6            0.035519
20    Tdewpoint            0.083128
21         RH_3            0.095135
22           T8            0.101028
23           T6            0.217292
24           T3            0.288087
25         RH_1            0.519525

In [44]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(xtrain, ytrain)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [45]:
ypred2=lasso_reg.predict(xtest)

In [46]:
round(np.sqrt(mean_squared_error( ytest, ypred2)),3)

0.094